In [23]:
import numpy as np
import pandas as pd
import os

In [25]:
train_df=pd.read_csv("Corona_NLP_train.csv", encoding='latin')

In [27]:
train_df

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,Airline pilots offering to stock supermarket s...,Neutral
41153,44952,89904,NaN,14-04-2020,Response to complaint not provided citing COVI...,Extremely Negative
41154,44953,89905,NaN,14-04-2020,You know itÂs getting tough when @KameronWild...,Positive
41155,44954,89906,NaN,14-04-2020,Is it wrong that the smell of hand sanitizer i...,Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,@TartiiCat Well new/used Rift S are going for ...,Negative

In [29]:
test_df=pd.read_csv("Corona_NLP_test.csv", encoding='latin')

In [31]:
test_df

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,1,44953,NYC,02-03-2020,TRENDING: New Yorkers encounter empty supermar...,Extremely Negative
1,2,44954,"Seattle, WA",02-03-2020,When I couldn't find hand sanitizer at Fred Me...,Positive
2,3,44955,NaN,02-03-2020,Find out how you can protect yourself and love...,Extremely Positive
3,4,44956,Chicagoland,02-03-2020,#Panic buying hits #NewYork City as anxious sh...,Negative
4,5,44957,"Melbourne, Victoria",03-03-2020,#toiletpaper #dunnypaper #coronavirus #coronav...,Neutral
...,...,...,...,...,...,...
3793,3794,48746,Israel ??,16-03-2020,Meanwhile In A Supermarket in Israel -- People...,Positive
3794,3795,48747,"Farmington, NM",16-03-2020,Did you panic buy a lot of non-perishable item...,Negative
3795,3796,48748,"Haverford, PA",16-03-2020,Asst Prof of Economics @cconces was on @NBCPhi...,Neutral
3796,3797,48749,NaN,16-03-2020,Gov need to do somethings instead of biar je r...,Extremely Negative
3797,3798,48750,"Arlington, Virginia",16-03-2020,I and @ForestandPaper members are committed to...,Extremely Positive

In [33]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
nltk.download('stopwords')
nltk.download('punkt')
stemmer = PorterStemmer()
def preprocess_text(text):
    text = text.lower()
    text = re.sub(r'http\S+|@\S+|#[A-Za-z0-9]+|\$[A-Za-z0-9]+', '', text)
    text = re.sub(r'[^\x00-\x7F]+', ' ', text)
    text = re.sub(r'\,{2,}', ' ', text)
    text = re.sub(r'\.{2,}', ' ', text)
    text = re.sub(r'[^a-zA-Z\s.,\']', '', text)
    text = re.sub(r'\s+', ' ', text)
    tokens = word_tokenize(text)
    stopwords_set = set(stopwords.words('english'))
    tokens = [stemmer.stem(word) for word in tokens if word not in stopwords_set]
    preprocessed_text = ' '.join(tokens)
    return preprocessed_text

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/mohitsarin/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/mohitsarin/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [35]:
def preprocess_text2(text):
    text = text.lower()
    text = re.sub(r'\.{2,}', '.', text)
    text = re.sub(r'[^a-zA-Z\s.,\']', '', text)
    tokens = word_tokenize(text)
    stopwords_set = set(stopwords.words('english'))
    tokens = [stemmer.stem(word) for word in tokens if word not in stopwords_set]
    return tokens

def clean_text(text):
    text = text.lower()
    text = re.sub(r'http\S+|@\S+|#[A-Za-z0-9]+|\$[A-Za-z0-9]+', '', text)
    text = re.sub(r'[^\x00-\x7F]+', ' ', text)
    text = re.sub(r'\.{2,}', ' ', text)
    text = re.sub(r'\,{2,}', ' ', text)
    text = re.sub(r'[^a-zA-Z\s.,\']', ' ', text)
    text = re.sub(r'\s+', ' ', text)
    preprocessed_text = ''.join(text)
    return preprocessed_text

In [37]:
clean_data=lambda text:clean_text(text)
train_df["OriginalTweet"]=train_df["OriginalTweet"].apply(clean_data)

In [39]:
train_df

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,and and,Neutral
1,3800,48752,UK,16-03-2020,advice talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,coronavirus australia woolworths to give elder...,Positive
3,3802,48754,NaN,16-03-2020,my food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"me, ready to go at supermarket during the outb...",Extremely Negative
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,airline pilots offering to stock supermarket s...,Neutral
41153,44952,89904,NaN,14-04-2020,response to complaint not provided citing covi...,Extremely Negative
41154,44953,89905,NaN,14-04-2020,you know it s getting tough when is rationing ...,Positive
41155,44954,89906,NaN,14-04-2020,is it wrong that the smell of hand sanitizer i...,Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,well new used rift s are going for . on amazo...,Negative

In [41]:
preprocess_data=lambda text:preprocess_text(text)
train_df["text_prepro"]=train_df["OriginalTweet"].apply(preprocess_data)

In [43]:
train_df

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment,text_prepro
0,3799,48751,London,16-03-2020,and and,Neutral,
1,3800,48752,UK,16-03-2020,advice talk to your neighbours family to excha...,Positive,advic talk neighbour famili exchang phone numb...
2,3801,48753,Vagabonds,16-03-2020,coronavirus australia woolworths to give elder...,Positive,"coronaviru australia woolworth give elderli , ..."
3,3802,48754,NaN,16-03-2020,my food stock is not the only one which is emp...,Positive,"food stock one empti pleas , n't panic , enoug..."
4,3803,48755,NaN,16-03-2020,"me, ready to go at supermarket during the outb...",Extremely Negative,", readi go supermarket outbreak . 'm paranoid ..."
...,...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,airline pilots offering to stock supermarket s...,Neutral,airlin pilot offer stock supermarket shelv loc...
41153,44952,89904,NaN,14-04-2020,response to complaint not provided citing covi...,Extremely Negative,respons complaint provid cite covid relat dela...
41154,44953,89905,NaN,14-04-2020,you know it s getting tough when is rationing ...,Positive,know get tough ration toilet paper martinsvil ...
41155,44954,89906,NaN,14-04-2020,is it wrong that the smell of hand sanitizer i...,Neutral,wrong smell hand sanit start turn
41156,44955,89907,i love you so much || he/him,14-04-2020,well new used rift s are going for . on amazo...,Negative,well new use rift go . amazon rn although norm...

In [47]:
float_indexes = []
for index, value in train_df['text_prepro'].items():
    if isinstance(value, float):
        float_indexes.append(index)
print("Null Index 'documents':", float_indexes)

Null Index 'documents': []

In [49]:
null_indexes = []
for index, value in train_df['text_prepro'].items():
    if pd.isnull(value) or value.strip() == "":
        null_indexes.append(index)
print("Null Index 'documents':", null_indexes)

Null Index 'documents': [0, 16, 186, 397, 583, 2190, 5946, 8803, 9169, 10946, 12410, 13452, 13777, 14425, 14840, 16342, 16924, 17761, 19828, 22994, 28549, 29888, 30345, 30473, 31293, 31440, 31627, 31657, 32455, 33587, 35563, 35565, 35752, 36983, 37646, 38226, 40511, 41141]

In [51]:
train_df = train_df.drop(null_indexes)
train_df = train_df.reset_index(drop=True)

In [53]:
X=train_df.drop(["UserName","ScreenName","Location","TweetAt","OriginalTweet","Sentiment"],axis=1)
y=train_df["Sentiment"]

In [55]:
X

                                             text_prepro
0      advic talk neighbour famili exchang phone numb...
1      coronaviru australia woolworth give elderli , ...
2      food stock one empti pleas , n't panic , enoug...
3      , readi go supermarket outbreak . 'm paranoid ...
4      news region first confirm covid case came sull...
...                                                  ...
41114  airlin pilot offer stock supermarket shelv loc...
41115  respons complaint provid cite covid relat dela...
41116  know get tough ration toilet paper martinsvil ...
41117                  wrong smell hand sanit start turn
41118  well new use rift go . amazon rn although norm...

[41119 rows x 1 columns]

In [57]:
y

0                  Positive
1                  Positive
2                  Positive
3        Extremely Negative
4                  Positive
                ...
41114               Neutral
41115    Extremely Negative
41116              Positive
41117               Neutral
41118              Negative
Name: Sentiment, Length: 41119, dtype: object

In [59]:
tokenized_documents=[preprocess_text2(doc) for doc in X["text_prepro"]]

In [61]:
len(tokenized_documents)

41119